/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Our Theme Color: #AFAFAF */
@font-face {
  font-family: 'MyCN_K';
  src: url(/fonts/方正宋刻本秀楷简.TTF);
}

@font-face {
  font-family: 'MyEN_DIN';
  src: url(/fonts/en_DIN.otf);
}

@font-face {
  font-family: 'MyEN_AG';
  src: url(/fonts/en_AG.otf);
}

.text-style {
  font-family: 'MyCN_K';
}

.text-style.p {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.6;
}

.text-style.heading1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.6;
}

.text-style.heading2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.6;
}

.text-style.heading3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}

@media (max-width : 1024px) {
  html body .fbb-footer {
    display: none;
    visibility: hidden;
  }

  footer {
    padding-bottom: 45px;
  }
}

@media (min-width: 1024px) {
  html .buttons button.next:hover {
    border-right: 67px solid rgba(180, 198, 210, .8);
  }

  html .buttons button.next {
    border-right-color: #A2483D;
    right: 0;
  }

  html .buttons button.previous:hover {
    border-left: 67px solid rgba(180, 198, 210, .8);
  }

  html .buttons button.previous {
    border-left-color: #A2483D;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

input {
  line-height: normal
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  box-sizing: content-box
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

*,
:after,
:before {
  box-sizing: border-box
}

body,
html {
  font-size: 16px;
  line-height: 1.25em
}

html {
  height: 100%
}

body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0
}

.modal-open {
  overflow: hidden
}

.container {
  margin: 0 auto;
  padding: 0 24px
}

/* Header Related */
@media (min-width: 1024px) {
  .header {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    line-height: 40px;
    padding: 0 16px;
    z-index: 3;
  }

  .source-button-container {
    display: inline-block;
    text-align: right;
    opacity: 1;
  }

  .source-button {
    display: inline-block;
    margin: 0;
    background: 0 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }

  .source-button-text {
    font-family: 'MyCN_K';
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: .04em;
    text-transform: uppercase;

    padding: 5px 10px;
    color: #fff;
  }

  .logo-container {
    display: inline-block;
    width: 25%;
    max-width: 500px;
  }

  .logo {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    height: 100%;
    width: 100%;
  }
}

/* Popup Related */
@media (min-width: 1024px) {
  .popup {
    font-family: 'MyCN_K';
    font-size: 1em;
    line-height: 1.25;
    letter-spacing: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 48;
    overflow: auto;
  }

  .popup ul {
    font-family: 'MyCN_K';
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000;
  }


  .popup h2 {
    font-family: 'MyCN_K';
    font-weight: bolder;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000;
  }

  .popup h3 {
    font-family: 'MyCN_K';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000;
  }

  .popup-content {
    position: relative;
    top: 20%;
    width: 40%;
    height: 50%;
    margin: 0 auto;
    padding: 12px 40px;
    background: #fff;
    opacity: 0.8;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .3);
    border-radius: 20px;
  }

  .popup:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    /* 添加模糊效果 */
    /* z-index: 5; */
    cursor: pointer;
  }

  .popup-close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 20px;
    color: #fff;
    background: #2e2e2e;
    border: 0;
    opacity: .5;
    transition: all 150ms ease-in-out
  }

  .popup-close:focus,
  .popup-close:hover {
    opacity: 1;
    transform: scale(1.1)
  }

  .popup-aria-hidden,
  .popup-close span {
    pointer-events: none
  }
}


/* Intro Page Related */
/* Intro */
@media (min-width: 1024px) {
  .intro {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 24px;
    margin-bottom: 36px;
    overflow: hidden;
    z-index: 2;
  }
}

/* Intro Left Desc */
@media (min-width: 1024px) {
  .intro-desc-container {
    position: absolute;
    /* 绝对定位 */
    display: flex;
    /* 使用 Flexbox */
    top: 50%;
    /* 垂直方向上移至容器的50% */
    height: 30%;
    /* 高度固定 */
    left: 5%;
    /* 距离左边界5% */
    transform: translateY(-50%);
    /* 通过变换向上偏移自身高度的50%，从而实现垂直居中 */
    padding: 20px;
    /* 内边距为20px，根据需要调整 */
    overflow: hidden;
    /* 防止内容溢出 */
  }

  .intro-desc-text {
    font-family: 'MyCN_K';
    color: #fff;
    writing-mode: vertical-rl;
  }

  .intro-desc-left {
    height: 100%;
    /* 继承容器的高度 */
    display: flex;
    /* 使用 Flexbox */
    justify-content: center;
    /* 水平居中 */
  }

  .intro-desc-left .intro-desc-text {
    font-size: 16px;
    line-height: 1.6;
    color: rgba(162, 162, 162, 0.7);
  }

  .intro-desc-right {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .intro-desc-right .intro-desc-text {
    font-size: 24px;
    line-height: 1.6;
  }

  .intro-desc-divider {
    width: 3px;
    /* 线的宽度 */
    background-color: #fff;
    /* 白色背景 */
    height: 40px;
  }
}

/* Intro Right Title */
@media (min-width: 1024px) {
  .intro-title-container {
    position: absolute;
    display: flex;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    padding: 20px;
    overflow: hidden;
  }

  .intro-title-text {
    font-family: 'MyCN_K';
    font-size: 88px;
    color: #fff;
    writing-mode: vertical-rl;
    margin: 50px;
    letter-spacing: 10px;
  }
}

/* Intro Buttons */
@media (min-width: 1024px) {
  .intro-button-container {
    position: absolute;
    display: flex;
    top: calc(40% + 110px);
    right: calc(5% + 280px);
    transform: translateY(-50%);
    padding: 20px;
    flex-direction: column;
  }

  .vertical-button {
    font-family: 'MyCN_K';
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: white;
    writing-mode: vertical-rl;
    padding: 10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    /* 相对定位 */
    transition: transform 0.3s;
  }

  .vertical-button-first {
    border: 1px solid white;
    position: relative;
    /* 相对定位 */
    padding-top: 30px;
    /* 为了容纳倒三角形 */
  }

  .vertical-button-first::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
  }

  .vertical-button-first:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
  }

  .vertical-button::after {
    content: '';
    position: absolute;
    right: 16px;
    bottom: 10px;
    width: 2px;
    height: 0;
    background: white;
    transition: height 0.3s;
    transform: translateX(-50%);
  }
  
  .vertical-button:not(.vertical-button-first):hover::after {
    height: 30px;
  }
}

/* Intro Date */
@media (min-width: 1024px) {
  .intro__date {
    font-family: 'MyEN_DIN';
    font-size: 22px;
    font-weight: bolder;

    position: absolute;
    top: 50%;
  }

  .intro__date--small-screen {
    display: none;
    visibility: hidden
  }

  .intro__date--large-screen {
    display: block;
    visibility: visible
  }

  .intro--init .intro__date {
    opacity: 0
  }

  .intro--exit .intro__date {
    opacity: 0;
  }

  .intro__text-container--right .intro__date {
    left: 0;
    color: #fff;
    transform: translate3d(16px, -18px, 0) rotate(-45deg)
  }

  .intro__text-container--left .intro__date {
    right: 0;
    transform: translate3d(-14px, 0, 0) rotate(-45deg)
  }

  .intro__date:after,
  .intro__date:before {
    content: '';
    display: inline-block;
    position: absolute
  }

  .intro__date:before {
    width: 20px
  }


  .intro__date:after {
    width: calc(75px)
  }

  .intro__text-container--right .intro__date:after {
    bottom: -14px;
    left: -11px;
    border-top: 4px solid #a2483d;
  }

  .intro__text-container--left .intro__date:after {
    top: -14px;
    right: -11px;
    border-top: 4px solid #a2483d;
  }
}

/* Story Page Related */
/* Store Container */
@media (min-width: 1024px) {
  .story-container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background: #fff;
  }
}

/* Store Button */
@media (min-width: 1024px) {
  .buttons {
    max-width: 500px;
    margin: 0 auto;
  }

  .buttons:after,
  .buttons:before {
    content: "";
    display: table;
  }

  .buttons:after {
    clear: both;
  }
}

@media (min-width: 1024px) {
  .buttons button {
    float: none;
    display: block;
    position: absolute;
    top: 40%;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none;
    cursor: pointer;
    text-indent: -99999px;
    user-select: none;
    border-top: 67px solid transparent;
    border-bottom: 67px solid transparent;
    transition: all 200ms ease-in-out;
    transform: translateY(-50%);
    color: rgba(180, 198, 210, .8);
    z-index: 10;
  }

  .buttons button:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    right: 19px;
    width: 16px;
    height: 16px;
    border-right: 3px solid #7fa1b9;
    border-bottom: 3px solid #7fa1b9;
    transform: rotate(-45deg);
  }

  .buttons button:after,
  .buttons button:before {
    border: none;
  }

  .buttons button[disabled] {
    opacity: 0;
    pointer-events: none;
  }

  .buttons button:focus,
  .buttons button:hover {
    color: transparent;
  }
}

@media (min-width: 1024px) {
  .buttons button.previous {
    border-left: 67px solid rgba(180, 198, 210, .8);
    left: 0
  }

  .buttons button.previous:hover {
    border-left-color: #1a65b8
  }

  .buttons button.previous:active {
    border-left-color: #004ea6
  }

  .buttons button.previous:before {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: -5px;
    right: auto;
    left: -52px;
    z-index: 100;
    transform: rotate(-45deg)
  }

  .buttons button.previous:after {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: 5px;
    left: -52px;
    z-index: 100;
    transform: rotate(45deg)
  }
}

@media (min-width: 1024px) {
  .buttons button.next {
    border-right: 67px solid rgba(180, 198, 210, .8);
    right: 0
  }

  .buttons button.next:hover {
    border-right-color: #1a65b8
  }

  .buttons button.next:active {
    border-right-color: #004ea6
  }

  .buttons button.next:before {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: -5px;
    right: -52px;
    z-index: 100;
    transform: rotate(45deg)
  }

  .buttons button.next:after {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: 5px;
    right: -52px;
    z-index: 100;
    transform: rotate(-45deg)
  }
}

/* Event Box */
@media (min-width: 1024px) {
  .event-box {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 42vw;
    height: 16vw;
    /* left: 40%; */
    bottom: 50%;
    padding: 30px;
    margin-top: -29.5px;
    z-index: 3;
    transition: opacity 400ms ease-out;
    backface-visibility: hidden;

    background: rgba(255, 255, 255, .85);
  }
}

@media (min-width: 1024px) {

  .event-title,
  .event-date,
  .event-content {
    font-family: 'MyCN_K';
    font-size: 16px;
    color: #4d5865;
    writing-mode: vertical-rl;
    margin: 0 10px 0 0;
  }

  .event-date {
    font-family: 'MyEN_AG';
    font-weight: bold;
    margin-left: 10px;
  }

  .event-date:before {
    content: '';
    height: 30px;
    width: 4px;
    background: #000;
    display: block;
    margin-left: 5px;
  }

  .event-title {
    color: #A2483D;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.6;
    text-transform: uppercase;
    margin-top: -10px;
    margin-left: 20px;
  }

  .event-title::before {
    content: "《";
  }

  .event-title::after {
    content: "》";
  }

  .event-img {
    max-height: 85%;
    max-width: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .event-bg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: opacity 400ms ease-out;
    z-index: -1;
  }

  .event-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .event-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

}

@media (min-width: 1024px) {
  .event-zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 300ms ease;
    z-index: 100;
  }

  .event-zoom-img {
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    max-width: 60%;
    overflow-y: auto;
  }
}

/* Chart */
@media (min-width: 1024px) {
  .chart-container {
    /* position: relative; */
    margin: 0;
    padding: 0;
    /* z-index: -2 */
  }

  /* .chart-container:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    right: 0;
    background: #fff;
    z-index: -2
  } */
}

/* Slider */
@media (min-width: 1024px) {
  .slider {
    user-select: none
  }

  .slider .box {
    shape-rendering: crispEdges;
    fill: rgba(162, 72, 61, 0.8);
    transition: fill 400ms ease-out
  }

  .slider .box:hover,
  .scrubbing-active .slider .box {
    fill: rgba(162, 72, 61, 0.95)
  }
}

/* Legends */
@media (min-width: 1024px) {
  .legends {
    padding: 18px;
    position: absolute;
    border-top: 1px solid #c7c7c7;
    background: #f6f6f5;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    overflow: hidden;
    z-index: 2
  }

  .legends-title {
    font-family: 'MyCN_K';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    display: inline-block;
    margin: 0 2em 0 0;
    position: relative;
    top: -2px
  }
}

@media (min-width: 1024px) {
  .legend-container {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .legend-item {
    user-select: none;
    position: relative;
    top: -4px;
    display: inline-block;
    width: auto;
    margin-right: .75em;
    margin-bottom: 0;
  }

  .legend-item:last-child {
    margin-right: 0
  }
}

@media (min-width: 1024px) {
  .legend-item input[type=checkbox] {
    display: none;
  }

  .legend-item input[type=checkbox]:disabled~label {
    cursor: not-allowed
  }

  .legend-item input[type=checkbox]:checked~label:before {
    color: #fff;
    background: #4d5865;
    border: 1px solid transparent;
    transform: rotate(-45deg);
  }

  .legend-item input[type=checkbox]:checked~label:after {
    color: #fff;
    transform: rotate(-45deg);
  }

  .legend-item input[type=checkbox]:checked.checkbox-year~label:before {
    background: #3CA6F0
  }

  .legend-item input[type=checkbox]:checked.checkbox-artist~label:before {
    background: #374C12
  }

  .legend-item input[type=checkbox]:checked.checkbox-empire~label:before {
    background: #6d1600
  }

  .legend-item input[type=checkbox]:checked.checkbox-ou~label:before {
    background: #4eafaf
  }

  .legend-item input[type=checkbox]:checked.checkbox-yan~label:before {
    background: #a18df8
  }

  .legend-item input[type=checkbox]:checked.checkbox-liu~label:before {
    background: #ebc041
  }

  .legend-item input[type=checkbox]:checked.checkbox-zhao~label:before {
    background: #ed6bb1
  }

  .legend-item input[type=checkbox]:checked.checkbox-others~label:before {
    background: #000
  }

  .legend-item input[type=checkbox]:checked.checkbox-overview~label:before {
    background: #be5722
  }

  .legend-item label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
    line-height: 16px;
    vertical-align: middle;
    font-family: 'MyCN_K';
    font-size: 14px;
    color: #4d5865;
    will-change: transform, color, border;
  }

  .legend-item label:after {
    content: '+';
    display: block;
    position: absolute;
    top: 0.3px;
    left: 4px;
    transition: all 200ms ease-in-out;
    transform-origin: 50% 50%;
  }

  .legend-item label:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    border: 1px solid;
    transition: all 200ms ease-in-out;
    transform-origin: 50% 50%;
  }

  .legend-item label:hover[for=checkbox-year]:after,
  .legend-item label:hover[for=checkbox-year]:before {
    color: #3CA6F0
  }

  .legend-item label:hover[for=checkbox-artist]:after,
  .legend-item label:hover[for=checkbox-artist]:before {
    color: #374C12
  }

  .legend-item label:hover[for=checkbox-empire]:after,
  .legend-item label:hover[for=checkbox-empire]:before {
    color: #6d1600
  }

  .legend-item label:hover[for=checkbox-ou]:after,
  .legend-item label:hover[for=checkbox-ou]:before {
    color: #4eafaf
  }

  .legend-item label:hover[for=checkbox-yan]:after,
  .legend-item label:hover[for=checkbox-yan]:before {
    color: #a18df8
  }

  .legend-item label:hover[for=checkbox-liu]:after,
  .legend-item label:hover[for=checkbox-liu]:before {
    color: #ebc041
  }

  .legend-item label:hover[for=checkbox-zhao]:after,
  .legend-item label:hover[for=checkbox-zhao]:before {
    color: #ed6bb1
  }

  .legend-item label:hover[for=checkbox-others]:after,
  .legend-item label:hover[for=checkbox-others]:before {
    color: #000
  }

  .legend-item label:hover[for=checkbox-overview]:after,
  .legend-item label:hover[for=checkbox-overview]:before {
    color: #be5722
  }
}

@media (min-width: 1024px) {
  .legend-item__value {
    position: absolute;
    display: none;
    top: 4px;
    right: 1em;
    font-size: 12px;
    color: #4d5865
  }
}

/* Dash Line */
@media (min-width: 1024px) {

  .dash-line-1,
  .dash-line-2,
  .dash-line-3,
  .dash-line-4 {
    border-top: 1px dashed #000;
    padding-left: 11px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .dash-line-1 {
    top: 12%;
  }

  .dash-line-2 {
    top: 30%;
  }

  .dash-line-3 {
    top: 50%;
  }

  .dash-line-4 {
    top: 70%;
  }

  .dashed-line-text {
    font-family: 'MyCN_K';
    font-size: 12px;

    color: #000;
    position: relative;
    top: -25px;
    margin-left: 15px;
  }
}

/* Content Flipper */
@media (min-width: 1024px) {

  .dash-line-1,
  .dash-line-2,
  .dash-line-3,
  .dash-line-4 {
    transition: border 200ms ease;
  }

  .dashed-line-text {
    transition: color 300ms ease;

  }

  .content .dashed-line-text {
    color: #fff;
  }

  .content .dash-line-1,
  .content .dash-line-2,
  .content .dash-line-3,
  .content .dash-line-4 {
    border-top: 1px dashed #fff;
  }
}

@media (min-width: 1024px) {
  .logo {
    fill: #fff;
    transition: fill 200ms ease;
  }

  .content .logo {
    fill: #fff;
  }
}

@media (min-width: 1024px) {
  .flip-fill-text {
    fill: #000;
    transition: fill 200ms ease;
  }

  .content .flip-fill-text {
    fill: #fff;
  }

  .flip-color-text {
    color: #000;
    transition: color 200ms ease;
  }

  .content .flip-color-text {
    color: #fff;
  }
}

/* Switch */
@media (min-width: 1024px) {
  .switch {
    width: 0;
    height: 0;
  }

  .switch div {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100vh solid transparent;
    border-bottom: 100vh solid transparent;
    transition: border 400ms ease;
    top: -50vh;
    z-index: 12;
  }

  .switch .previous {
    border-left: 0px solid #A2483D;
  }

  .switch .next {
    border-right: 0px solid #A2483D;
    right: 0;
  }

}