/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: 'MyCN';
  src: url(/cn.ttf);
}

@font-face {
  font-family: 'MyEN';
  src: url(/en.otf);
}

.text-style {
  font-family: 'MyCN';
}

.text-style.p {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.6;
}

.text-style.heading1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.6;
}

.text-style.heading2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.6;
}

.text-style.heading3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}

/* 0-day patches */
*:focus {
  outline: none;
}

@media (max-width : 1024px) {
  html body .wsj-footer {
    display: none;
    visibility: hidden;
  }

  footer {
    padding-bottom: 45px;
  }
}

@media (min-width: 1024px) {
  html .buttons button.next:hover {
    border-right: 67px solid rgba(180, 198, 210, .8);
  }

  html .buttons button.next {
    border-right-color: #A2483D;
    right: 0;
  }

  html .buttons button.previous:hover {
    border-left: 67px solid rgba(180, 198, 210, .8);
  }

  html .buttons button.previous {
    border-left-color: #A2483D;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

input {
  line-height: normal
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=search] {
  box-sizing: content-box
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

*,
:after,
:before {
  box-sizing: border-box
}

body,
html {
  font-size: 16px;
  line-height: 1.25em
}

.button-diamond__label,
.popup {
  font-family: "Circular Medium", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25;
  letter-spacing: 0
}

.button--clean {
  font-family: "Circular Book", Helvetica, Arial, sans-serif;
  font-size: .8125em;
  line-height: 1.5;
  letter-spacing: .04em;
  text-transform: uppercase
}

html {
  height: 100%
}

body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0
}

.modal-open {
  overflow: hidden
}

.container {
  margin: 0 auto;
  padding: 0 24px
}

.header {
  position: absolute;
  width: 100%;
  padding: 0 16px;
  z-index: 1
}

.header__button-container,
.header__title {
  display: none
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    line-height: 40px;
    z-index: 3;
  }

  .header__title {
    display: inline-block;
    width: 50%;
    padding: 10px 0;
    margin: 0;
    line-height: 20px;
    text-align: center;
    vertical-align: baseline;
    color: #4d5865;
    opacity: 1;
    transition: all 400ms ease-out;
    font-weight: 400;
    text-decoration: none
  }

  .key-event .header__title {
    color: #fff
  }

  .visual-intro-active .header__title {
    opacity: 0;
    visibility: hidden
  }

  .header__button-container {
    display: inline-block;
    /* width: 25%; */
    text-align: right;
    opacity: 1;
    transition: opacity 400ms ease-out
  }

  .header__button-container button {
    background: 0 0;
    margin-right: -10px
  }

  .key-event.visual-intro-active .header__button-container button {
    color: #4d5865
  }

  .key-event .header__button-container button {
    color: #fff
  }

  .header__button-container button:hover {
    background: 0 0
  }
}

@media (min-width: 1024px) {
  .footer {
    display: none
  }
}

.button--infinite-animation {
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite
}

@keyframes shimmer {

  0%,
  66% {
    transform: scale(1)
  }

  100% {
    transform: scale(1.025)
  }
}

.button-diamond {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: none;
  background: 0 0;
  outline: 0;
  text-decoration: none;
  transition: all 200ms ease-in-out
}

.button-diamond__label {
  display: inline-block;
  padding-left: 1.25em;
  vertical-align: middle;
  color: #1a65b8;
  transition: color 400ms ease-out;
  text-transform: uppercase
}

.button-diamond__diamond {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background: #1a65b8;
  transform: rotate(-45deg);
  transition: background 400ms ease-out;
  overflow: hidden
}

.button-diamond__diamond:before {
  content: '';
  display: block;
  position: absolute;
  top: 9.5px;
  left: 10px;
  width: 13px;
  height: 13px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 600ms ease-out;
  transform: translate3d(-300%, -300%, 0)
}

.button-diamond__diamond:after {
  content: '';
  display: block;
  position: absolute;
  top: 9.5px;
  left: 10px;
  width: 13px;
  height: 13px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 600ms ease-out;
  transform: translate3d(0, 0, 0)
}

.button-diamond:focus .button-diamond__label,
.button-diamond:hover .button-diamond__label {
  color: #004ea6
}

.button-diamond:focus .button-diamond__diamond,
.button-diamond:hover .button-diamond__diamond {
  background: #004ea6
}

.button-diamond:focus .button-diamond__diamond:before,
.button-diamond:hover .button-diamond__diamond:before {
  transform: translate3d(0, 0, 0)
}

.button-diamond:focus .button-diamond__diamond:after,
.button-diamond:hover .button-diamond__diamond:after {
  transform: translate3d(300%, 300%, 0)
}

.button {
  display: inline-block;
  margin: 0;
  background: 0 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms ease-out
}

.button__arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  vertical-align: middle;
  transform: translateY(-2px) rotate(-45deg)
}

.button--clean {
  padding: 5px 10px;
  color: #4d5865
}

.button--clean:hover {
  color: #373f48;
  background: #e4eaee
}

.button--block {
  display: block;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding: 0;
  text-align: center
}

.button--large {
  font-size: 1em
}

.button--blue {
  color: #fff;
  background: #1a65b8;
  transition: background-color 600ms ease-out
}

.button--blue:hover {
  color: #fff;
  background: #004ea6
}

.buttons {
  max-width: 500px;
  margin: 0 auto 24px
}

.buttons:after,
.buttons:before {
  content: "";
  display: table
}

.buttons:after {
  clear: both
}

@media (min-width: 1024px) {
  .buttons {
    margin: 0 auto
  }
}

.buttons button {
  float: left;
  display: block;
  position: relative;
  width: 30px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  cursor: pointer;
  text-indent: -99999px;
  transition: all 200ms ease-in-out;
  user-select: none
}

.buttons button:before {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  right: 19px;
  width: 16px;
  height: 16px;
  border-right: 3px solid #7fa1b9;
  border-bottom: 3px solid #7fa1b9;
  vertical-align: middle;
  transform: rotate(-45deg)
}

.buttons button[disabled] {
  opacity: .4;
  pointer-events: none
}

.buttons button:focus,
.buttons button:hover {
  color: transparent
}

@media (min-width: 1024px) {
  .buttons button {
    float: none;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 67px solid transparent;
    border-bottom: 67px solid transparent;
    transform: translateY(-50%);
    color: rgba(180, 198, 210, .8);
    z-index: 10
  }

  .buttons button:after,
  .buttons button:before {
    border: none
  }

  .buttons button[disabled] {
    opacity: 0
  }
}

.buttons button.previous:before {
  right: auto;
  left: 19px;
  transform: rotate(135deg)
}

@media (min-width: 1024px) {
  .buttons button.previous {
    border-left: 67px solid rgba(180, 198, 210, .8);
    left: 0
  }

  .buttons button.previous:hover {
    border-left-color: #1a65b8
  }

  .buttons button.previous:active {
    border-left-color: #004ea6
  }

  .buttons button.previous:before {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: -5px;
    left: -52px;
    z-index: 100;
    transform: rotate(-45deg)
  }

  .buttons button.previous:after {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: 5px;
    left: -52px;
    z-index: 100;
    transform: rotate(45deg)
  }
}

@media (min-width: 1024px) {
  .buttons button.next {
    border-right: 67px solid rgba(180, 198, 210, .8);
    right: 0
  }

  .buttons button.next:hover {
    border-right-color: #1a65b8
  }

  .buttons button.next:active {
    border-right-color: #004ea6
  }

  .buttons button.next:before {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: -5px;
    right: -52px;
    z-index: 100;
    transform: rotate(45deg)
  }

  .buttons button.next:after {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 2px;
    position: absolute;
    top: 5px;
    right: -52px;
    z-index: 100;
    transform: rotate(-45deg)
  }
}

.select-box-wrapper {
  float: left;
  display: inline-block;
  position: relative;
  width: calc(100% - 60px - 48px);
  height: 32px;
  margin: 0 24px;
  background: rgba(0, 0, 0, .1)
}

@media (min-width: 1024px) {
  .select-box-wrapper {
    display: none
  }
}

.select-box-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 32px;
  vertical-align: middle;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(127, 161, 185, 0) 0, #7fa1b9 40%, #7fa1b9 60%)
}

.select-box-arrow:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 16px;
  width: 9px;
  height: 9px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: 6.5px 3.5px
}

@media (min-width: 1024px) {
  .select-box-arrow {
    display: none
  }
}

.select-box {
  display: block;
  width: 100%;
  height: 32px;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 36px 0 12px;
  line-height: 1.2;
  color: #fff;
  background: #7fa1b9;
  border: 0;
  border-radius: 0;
  appearance: none;
  user-select: none
}

.wsj-chart-event-block {
  font-family: "Circular Book"
}

@media (max-width: 1023px) {
  .wsj-chart-event-block {
    padding: 16px 16px 0;
    transition: opacity 600ms ease-out
  }

  .panning-mode .wsj-chart-event-block {
    opacity: .3
  }
}

@media (min-width: 1024px) {
  .wsj-chart-event-block {
    position: absolute;
    max-width: 640px;
    width: 40%;
    left: 50%;
    top: 50%;
    padding: 30px;
    margin-top: -29.5px;
    transform: translate3d(0, -50%, 0);
    z-index: 3;
    transition: opacity 400ms ease-out;
    backface-visibility: hidden
  }

  .key-event .wsj-chart-event-block {
    background: rgba(255, 255, 255, .95)
  }

  .panning-mode .wsj-chart-event-block {
    opacity: 0;
    visibility: hidden
  }
}

@media (min-width: 1024px) and (min-width:1024px) {
  .end-event .wsj-chart-event-block {
    max-width: 460px;
    padding-bottom: 80px;
    transform: translateY(-50%) translateX(-38%)
  }
}

.event-date {
  display: none
}

@media (min-width: 1024px) {
  .event-date {
    display: block;
    font-family: "Circular Book", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: .8125em;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0 0 1rem
  }

  .end-event .event-date {
    display: none
  }

  .event-date:before {
    content: '';
    height: 3px;
    width: 27px;
    background: #000;
    display: block;
    margin-bottom: 4px
  }
}

.event-title {
  font-family: "Swift Std Bold", Georgia, "Times New Roman", serif;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 1.2em;
  letter-spacing: 0;
  color: #1a65b8;
  margin: 0 0 1rem
}

@media (min-width: 1024px) {
  .end-event .event-title {
    font-size: 3.125em;
    line-height: 1.2
  }
}

.event-description {
  font-family: "Circular Book", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: .9375em;
  line-height: 1.3333333333em;
  letter-spacing: 0;
  color: #272727;
  overflow: auto
}

@media (min-width: 1024px) {
  .event-description {
    margin: 0 0 1rem
  }
}

.event-description__image {
  width: 40%;
  float: left;
  margin: 0 16px 3px 0
}

.event-link {
  position: absolute;
  left: 48px;
  margin-top: -18px;
  width: 15em;
  visibility: hidden
}

.end-event .event-link {
  visibility: visible
}

.event-link .button-diamond__diamond {
  background: #fff
}

.event-link .button-diamond__diamond:after {
  border-color: #1a65b8
}

.event-link:active .button-diamond__diamond,
.event-link:focus .button-diamond__diamond,
.event-link:hover .button-diamond__diamond,
.event-link:visited .button-diamond__diamond {
  background: #fff
}

.event-link:active .button-diamond__diamond:after,
.event-link:active .button-diamond__diamond:before,
.event-link:focus .button-diamond__diamond:after,
.event-link:focus .button-diamond__diamond:before,
.event-link:hover .button-diamond__diamond:after,
.event-link:hover .button-diamond__diamond:before,
.event-link:visited .button-diamond__diamond:after,
.event-link:visited .button-diamond__diamond:before {
  border-color: #1a65b8
}

.event-link:active .button-diamond__label,
.event-link:focus .button-diamond__label,
.event-link:hover .button-diamond__label,
.event-link:visited .button-diamond__label {
  color: #fff
}

.event-link .button-diamond__label {
  color: #fff;
  padding-left: 1em
}

.logo-container {
  display: block;
  width: 100%;
  max-width: 500px;
  /* margin: 0 auto; */
  /* text-decoration: none */
}

@media (min-width: 1024px) {
  .logo-container {
    display: inline-block;
    width: 25%;
  }
}

.logo {
  height: 30px;
  margin-top: 4px;
  background-image: url(/logo.jpg);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* 
.logo {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.logo__image {
  display: inline-block;
  vertical-align: middle;
}

.logo__image path {
  fill: #000;
  transition: fill 400ms ease-out;
}

@media (min-width: 1024px) {
  .logo__image path {
    fill: #4d5865
  }

  .key-event .logo__image path {
    fill: #fff
  }

  .visual-intro-active .logo__image path {
    fill: #000
  }
}

.logo:first-child {
  margin-right: 1em
}

.logo:first-child:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 1px;
  margin-left: 1em;
  background: #000;
  transition: background-color 400ms ease-out
}

@media (min-width: 1024px) {
  .logo:first-child:after {
    background: #ccc
  }

  .key-event .logo:first-child:after {
    background: #fff
  }

  .visual-intro-active .logo:first-child:after {
    background: #000
  }
} */

.hero-moment {
  display: none
}

@media (min-width: 1024px) {
  .hero-moment {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0
  }
}

.hero-moment__slice-wrapper {
  height: 20%;
  position: absolute;
  overflow: hidden;
  width: 100%
}

.hero-moment__slice-wrapper--1 {
  top: 0
}

.hero-moment__slice-wrapper--2 {
  top: 20%
}

.hero-moment__slice-wrapper--3 {
  top: 40%
}

.hero-moment__slice-wrapper--4 {
  top: 60%
}

.hero-moment__slice-wrapper--5 {
  top: 80%
}

.hero-moment__slice {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 600ms ease-out;
  backface-visibility: hidden
}

.hero-moment__slice--1 {
  transition-delay: 0ms
}

.hero-moment--enter .hero-moment__slice--1 {
  transform: translate3d(100%, 0, 0)
}

.hero-moment--exit .hero-moment__slice--1 {
  transform: translate3d(-100%, 0, 0)
}

.hero-moment__slice--2 {
  transition-delay: 100ms
}

.hero-moment--enter .hero-moment__slice--2 {
  transform: translate3d(-100%, 0, 0)
}

.hero-moment--exit .hero-moment__slice--2 {
  transform: translate3d(100%, 0, 0)
}

.hero-moment__slice--3 {
  transition-delay: 200ms
}

.hero-moment--enter .hero-moment__slice--3 {
  transform: translate3d(100%, 0, 0)
}

.hero-moment--exit .hero-moment__slice--3 {
  transform: translate3d(-100%, 0, 0)
}

.hero-moment__slice--4 {
  transition-delay: 300ms
}

.hero-moment--enter .hero-moment__slice--4 {
  transform: translate3d(-100%, 0, 0)
}

.hero-moment--exit .hero-moment__slice--4 {
  transform: translate3d(100%, 0, 0)
}

.hero-moment__slice--5 {
  transition-delay: 400ms
}

.hero-moment--enter .hero-moment__slice--5 {
  transform: translate3d(100%, 0, 0)
}

.hero-moment--exit .hero-moment__slice--5 {
  transform: translate3d(-100%, 0, 0)
}

.background-square {
  display: block;
  position: absolute;
  width: 200%;
  background-color: #1a65b8
}

.background-square:after {
  content: '';
  display: block;
  padding-top: 100%
}

@media (min-width: 1024px) {
  .background-square {
    display: none
  }
}

.background-square--top {
  top: 160px;
  left: 240px;
  transform: translate3d(0%, 0, 0) rotate(210deg);
  transform-origin: 0 0
}

.background-square--bottom {
  bottom: 70%;
  right: 240px;
  transform: translate3d(0%, 0, 0) rotate(210deg);
  transform-origin: 100% 100%
}

@media (min-width: 480px) {
  .background-square--bottom {
    bottom: 100%
  }
}

.sponsor-content-wrapper {
  line-height: 1.2;
  font-size: 12px;
  max-width: 500px;
  margin: 0 auto
}

.key-event.visual-intro-active .sponsor-content-wrapper {
  color: #000
}

@media (min-width: 1024px) {
  .sponsor-content-wrapper {
    max-width: none;
    margin: 0 auto
  }

  .key-event.visual-intro-active .sponsor-content-wrapper {
    color: #000
  }

  .key-event .sponsor-content-wrapper {
    color: #fff
  }
}

.sponsor-content-title {
  margin: 0;
  text-transform: uppercase
}

.sponsor-content-inline {
  display: inline-block
}

.sponsor-content-popup-container {
  position: relative
}

.sponsor-content-click {
  cursor: pointer;
  text-decoration: underline
}

.sponsor-content-popup {
  text-decoration: none;
  display: none
}

.sponsor-content-visible .sponsor-content-popup {
  display: block
}

@media (max-width: 1023px) {
  .sponsor-content-popup {
    margin: 1em 0
  }
}

@media (min-width: 1024px) {
  .sponsor-content-popup {
    position: absolute;
    top: 74px;
    left: 180px;
    width: 300px;
    background: #000;
    color: #fff;
    padding: 10px
  }

  .sponsor-content-popup:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #000;
    position: absolute;
    left: 20px;
    top: -7px;
    transform: rotate(45deg)
  }

  .key-event.visual-intro-active .sponsor-content-popup {
    color: #fff;
    background: #000
  }

  .key-event.visual-intro-active .sponsor-content-popup:before {
    background: #000;
    color: #fff
  }

  .key-event .sponsor-content-popup,
  .key-event .sponsor-content-popup:before {
    color: #000;
    background: #fff
  }
}

.wsj-footer {
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease-out;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center
}

.visual-intro-active .wsj-footer {
  visibility: visible;
  opacity: 1
}

@media (min-width: 1024px) {
  .wsj-footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0
  }
}

.story-container {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff
}

@media (min-width: 1024px) {
  .story-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden
  }
}

.event-box-wrapper {
  max-width: 500px;
  margin: 0 auto
}

@media (min-width: 1024px) {
  .event-box-wrapper {
    max-width: none;
    margin: 0
  }
}

.wsj-chart-container {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1
}

@media (min-width: 1024px) {
  .wsj-chart-container:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    right: 0;
    background: #fff;
    z-index: -1
  }
}

.wsj-chart {
  display: block
}

.close-event-button {
  display: none;
  background: 0 0;
  border: none;
  padding: 0;
  font-family: "Circular Book", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: .9375em;
  line-height: 1.2;
  letter-spacing: 0;
  color: #1a65b8
}

.close-event-button:focus,
.close-event-button:hover {
  color: #004ea6
}

@media (min-width: 1024px) {
  .close-event-button {
    display: inline-block
  }
}

.key-title {
  font-size: 16px;
  fill: #1a65b8;
  text-shadow: 1px 1px 0 #fff;
  font-family: "Swift Std Regular";
  text-anchor: left
}

.ending-screen {
  position: absolute;
  top: 50%;
  z-index: 2;
  margin-top: -37px
}

.ending-screen:before {
  position: absolute;
  content: '';
  display: block;
  width: 100vw;
  height: 100vw;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  background: #1a65b8
}

.axis path {
  fill: none
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #ccc
}

.y.axis line {
  stroke-dasharray: 1, 4
}

.brush {
  user-select: none
}

.brush .extent {
  shape-rendering: crispEdges;
  fill: rgba(26, 101, 185, .8);
  transition: fill 400ms ease-out
}

.brush .extent:hover,
.scrubbing-active .brush .extent {
  fill: rgba(26, 101, 185, .95)
}

.legends {
  padding: 18px 24px;
  border-top: 1px solid #c7c7c7;
  background: #f6f6f5;
  position: relative
}

@media (max-width: 1023px) {
  .legends {
    margin-top: -100px;
    z-index: 5
  }
}

@media (min-width: 1024px) {
  .legends {
    padding: 18px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    overflow: hidden;
    z-index: 2
  }
}

@media (min-width: 1280px) {
  .legends {
    padding: 18px
  }
}

.legends-title {
  font-family: "Circular Std", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase
}

@media (min-width: 1024px) {
  .legends-title {
    display: inline-block;
    margin: 0 1em 0 0;
    position: relative;
    top: -2px
  }
}

@media (min-width: 1280px) {
  .legends-title {
    margin: 0 1.5em 0 0
  }
}

.wsj-legend-container {
  display: block;
  padding: 0;
  margin: 0
}

@media (min-width: 1024px) {
  .wsj-legend-container {
    display: inline-block
  }
}

.legend-item {
  display: block;
  position: relative;
  user-select: none;
  margin-bottom: 1em
}

@media (min-width: 480px) {
  .legend-item {
    display: inline-block;
    width: 50%
  }
}

@media (min-width: 1024px) {
  .legend-item {
    position: relative;
    top: -4px;
    display: inline-block;
    width: auto;
    margin-right: .75em;
    margin-bottom: 0
  }

  .legend-item:last-child {
    margin-right: 0
  }
}

@media (min-width: 1280px) {
  .legend-item {
    margin-right: 1.25em
  }
}

.legend-item input[type=checkbox] {
  display: none
}

.legend-item input[type=checkbox]:disabled~label {
  cursor: not-allowed
}

.legend-item input[type=checkbox]:checked~label:before {
  transform: rotate(-45deg);
  color: #fff;
  background: #4d5865;
  border: 1px solid transparent
}

.legend-item input[type=checkbox]:checked~label:after {
  color: #fff;
  transform: rotate(-45deg)
}

.legend-item input[type=checkbox]:checked.checkbox-cpi~label:before {
  background: #e6ae40
}

.legend-item input[type=checkbox]:checked.checkbox-gdp~label:before {
  background: #d46161
}

.legend-item input[type=checkbox]:checked.checkbox-ffr~label:before {
  background: #1a65b9
}

.legend-item input[type=checkbox]:checked.checkbox-10yty~label:before {
  background: #38b59c
}

.legend-item input[type=checkbox]:checked.checkbox-djia~label:before {
  background: #9397d2
}

.legend-item input[type=checkbox]:checked.checkbox-barc~label:before {
  background: #77aee6
}

.legend-item input[type=checkbox]:disabled:not(.checkbox-ffr)~label {
  opacity: .5;
  cursor: not-allowed
}

.legend-item input[type=checkbox]:disabled:not(.checkbox-ffr)~label:hover:after,
.legend-item input[type=checkbox]:disabled:not(.checkbox-ffr)~label:hover:before {
  color: inherit !important
}

.legend-item label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 24px;
  line-height: 17px;
  vertical-align: middle;
  font-size: 14px;
  color: #4d5865;
  will-change: transform, color, border
}

.legend-item label:after {
  content: '+';
  display: block;
  position: absolute;
  top: 0;
  left: 4.5px;
  transition: all 200ms ease-in-out;
  transform-origin: 50% 50%
}

.legend-item label:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  border: 1px solid;
  transition: all 200ms ease-in-out;
  transform-origin: 50% 50%
}

.legend-item label:hover[for=checkbox-cpi]:after,
.legend-item label:hover[for=checkbox-cpi]:before {
  color: #e6ae40
}

.legend-item label:hover[for=checkbox-gdp]:after,
.legend-item label:hover[for=checkbox-gdp]:before {
  color: #d46161
}

.legend-item label:hover[for=checkbox-ffr]:after,
.legend-item label:hover[for=checkbox-ffr]:before {
  color: #1a65b9
}

.legend-item label:hover[for=checkbox-10yty]:after,
.legend-item label:hover[for=checkbox-10yty]:before {
  color: #38b59c
}

.legend-item label:hover[for=checkbox-djia]:after,
.legend-item label:hover[for=checkbox-djia]:before {
  color: #9397d2
}

.legend-item label:hover[for=checkbox-barc]:after,
.legend-item label:hover[for=checkbox-barc]:before {
  color: #77aee6
}

.legend-item__value {
  position: absolute;
  top: 4px;
  right: 1em;
  font-size: 12px;
  color: #4d5865
}

@media (min-width: 480px) {
  .legend-item__value {
    display: inline-block;
    position: relative;
    top: 0;
    right: auto;
    margin-left: .5em
  }
}

@media (min-width: 1024px) {
  .legend-item__value {
    display: none
  }
}

.intro-area {
  display: none;
  position: relative;
  left: 50%;
  top: 50%;
  width: 75%;
  width: 75vmin;
  overflow: visible;
  transform-origin: 0 0;
  background-size: cover;
  backface-visibility: hidden;
  z-index: 0;
}

.intro-area:after {
  content: '';
  display: block;
  padding-top: 100%;
}

@media (min-width: 1024px) {
  .intro-area {
    display: block;
    position: absolute
  }

  .intro-area--top {
    transform: translate3d(0%, 1px, 0) rotate(225deg)
  }

  .intro--idle .intro-area--top {
    background-image: url(/1.jpg)
  }

  .intro-area--right {
    transform: translate3d(0%, 0, 0) rotate(315deg);
    background-color: #2e2e2e
  }

  .intro-area--bottom {
    transform: translate3d(0%, 0, 0) rotate(45deg)
  }

  .intro--idle .intro-area--bottom {
    background-image: url(/2.jpg)
  }

  .intro-area--left {
    width: 125%;
    transform: translate3d(0%, 0, 0) rotate(135deg);
    background-color: #fff;
    transition: transform 900ms ease-in-out 225ms
  }

  .intro--exit .intro-area--left,
  .intro--init .intro-area--left {
    transform: translate3d(-100%, 0, 0) rotate(135deg)
  }
}

.intro-slice {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: transform 900ms ease-in-out, opacity 900ms ease-in-out;
  backface-visibility: hidden
}

.intro-area--top .intro-slice {
  background-image: url(/1.jpg)
}

.intro-area--bottom .intro-slice {
  background-image: url(/2.jpg)
}

.intro--idle .intro-area--bottom .intro-slice,
.intro--idle .intro-area--top .intro-slice {
  background-image: none
}

.intro-slice--1 {
  background-position: 0 100%;
  transition-delay: 0ms;
  transform: translateX(0px)
}

.intro--init .intro-slice--1 {
  transform: translateX(0%) translateY(-300%);
  opacity: 0
}

.intro--exit .intro-slice--1 {
  transform: translateX(0%) translateY(300%);
  opacity: 0
}

.intro-slice--2 {
  background-position: 33.3333% 100%;
  transition-delay: 50ms;
  transform: translateX(100%)
}

.intro--init .intro-slice--2 {
  transform: translateX(100%) translateY(300%);
  opacity: 0
}

.intro--exit .intro-slice--2 {
  transform: translateX(100%) translateY(-300%);
  opacity: 0
}

.intro-slice--3 {
  background-position: 66.6666% 100%;
  transition-delay: 100ms;
  transform: translateX(200%)
}

.intro--init .intro-slice--3 {
  transform: translateX(200%) translateY(-300%);
  opacity: 0
}

.intro--exit .intro-slice--3 {
  transform: translateX(200%) translateY(300%);
  opacity: 0
}

.intro-slice--4 {
  background-position: 99.9999% 100%;
  transition-delay: 150ms;
  transform: translateX(300%)
}

.intro--init .intro-slice--4 {
  transform: translateX(300%) translateY(300%);
  opacity: 0
}

.intro--exit .intro-slice--4 {
  transform: translateX(300%) translateY(-300%);
  opacity: 0
}

@media (max-width: 1023px) {
  .intro-slice {
    display: none
  }
}

.intro-text-container {
  position: relative;
  text-align: left;
  color: #000;
  max-width: 500px;
  margin: 0 auto
}

@media (min-width: 1024px) {
  .intro-text-container {
    position: absolute;
    top: 25%;
    width: 50%;
    max-width: none;
    height: 50%;
    padding: 0;
    color: #000;
    background: 0 0;
    z-index: 3;
    transform-origin: 0 0
  }

  .intro-text-container--right {
    right: 0;
  }

  .intro-text-container--left {
    left: 0;
    color: #000;
    text-align: start;
  }
}

.intro-text {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1
}

.intro-text .button-diamond {
  display: none
}

.intro-text-container--right .intro-text {
  padding: 16px;
  background: #fff
}

@media (min-width: 1024px) {
  .intro-text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    padding: 0;
    writing-mode: vertical-rl;
  }

  .intro-text .button-diamond {
    display: inline-block;
    left: -18px
  }

  .intro-text-container--right .intro-text {
    left: 35%;
    right: 48px;
    padding: 0;
    background: 0 0;
    transition: transform 450ms ease-in-out 1350ms, opacity 450ms ease-in-out 1350ms
  }

  .intro--exit .intro-text-container--right .intro-text,
  .intro--init .intro-text-container--right .intro-text {
    opacity: 0;
    transform: translate3d(10%, -50%, 0)
  }

  .intro--exit .intro-text-container--right .intro-text {
    transition: transform 450ms ease-in-out, opacity 450ms ease-in-out
  }

  .intro-text-container--left .intro-text {
    left: 48px;
    right: 40%;
    min-height: 400px;
  }
}

.intro-text__sub-title,
.intro-text__title {
  display: block;
  color: #fff;
}

@media (min-width: 1024px) {
  .intro-text__title {
    position: relative;
    min-height: 150px;
    margin: 0;
    transition: opacity 450ms ease-in-out 1350ms, transform 450ms ease-in-out 1350ms
  }

  .intro-text__title--first {
    transform: translate3d(250%, -100px, 0);
  }

  .intro-text__title--second {
    transform: translate3d(170%, -236px, 0);
  }

  .intro--exit .intro-text__title,
  .intro--init .intro-text__title {
    opacity: 0
  }

  .intro--exit .intro-text__title.intro-text__title--first,
  .intro--init .intro-text__title.intro-text__title--first {
    transform: translate3d(-50%, -320%, 0)
  }

  .intro--exit .intro-text__title.intro-text__title--second,
  .intro--init .intro-text__title.intro-text__title--second {
    transform: translate3d(-30%, 50%, 0)
  }

  .intro--exit .intro-text__title {
    transition: opacity 450ms ease-in-out, transform 450ms ease-in-out
  }
}

.intro-text__sub-title--first {
  margin-left: 36px
}

.intro-text__sub-title--second {
  margin-left: 96px
}

@media (min-width: 1024px) {
  .intro-text__sub-title {
    position: relative;
    min-height: 150px;
    margin: 0;
    transition: opacity 450ms ease-in-out 1350ms, transform 450ms ease-in-out 1350ms
  }

  .intro-text__sub-title--first {
    transform: translate3d(80%, -350px, 0)
  }

  .intro-text__sub-title--second {
    transform: translate3d(0%, -470px, 0)
  }

  .intro--exit .intro-text__sub-title,
  .intro--init .intro-text__sub-title {
    opacity: 0
  }

  .intro--exit .intro-text__sub-title.intro-text__sub-title--first,
  .intro--init .intro-text__sub-title.intro-text__sub-title--first {
    transform: translate3d(-60%, 160%, 0)
  }

  .intro--exit .intro-text__sub-title.intro-text__sub-title--second,
  .intro--init .intro-text__sub-title.intro-text__sub-title--second {
    transform: translate3d(-50%, 450%, 0)
  }

  .intro--exit .intro-text__sub-title {
    transition: opacity 450ms ease-in-out, transform 450ms ease-in-out
  }
}

.intro-text__paragraph {
  position: relative
}

@media (min-width: 1024px) {
  .intro-text__paragraph {
    margin: 0;
    max-width: 308px
  }
}

.intro {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 24px 16px 36px;
  margin-bottom: 36px;
  opacity: 1;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .sponsor-content-visible .intro {
    padding-top: 94px
  }
}

@media (min-width: 1024px) {
  .intro {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 24px;
    overflow: hidden;
    background-color: #2e2e2e;
    z-index: 2
  }

  .intro--init .header {
    opacity: 0
  }

  .intro--exit {
    display: none;
    opacity: 0;
    transition: opacity 900ms ease-in-out 675ms
  }

  .visual-intro-active .intro--exit {
    display: block
  }

  .intro--exit .header {
    transition: opacity 450ms ease-in-out;
    opacity: 0
  }
}

.intro__date {
  font-family: 'MyEN';
  font-size: 22px;
  font-weight: bolder;
}

.intro__date--small-screen {
  display: block
}

.intro__date--large-screen {
  display: none
}

@media (min-width: 1024px) {
  .intro__date {
    position: absolute;
    top: 50%;
    transition: transform 450ms ease-in-out 1350ms, opacity 450ms ease-in-out 1350ms
  }

  .intro__date--small-screen {
    display: none;
    visibility: hidden
  }

  .intro__date--large-screen {
    display: block;
    visibility: visible
  }

  .intro--init .intro__date {
    opacity: 0
  }

  .intro--exit .intro__date {
    opacity: 0;
    transition: transform 450ms ease-in-out, opacity 450ms ease-in-out
  }

  .intro-text-container--right .intro__date {
    left: 0;
    color: #fff;
    transform: translate3d(16px, -18px, 0) rotate(-45deg)
  }

  .intro-text-container--left .intro__date {
    right: 0;
    transform: translate3d(-14px, 0, 0) rotate(-45deg)
  }

  .intro--exit .intro-text-container--right .intro__date,
  .intro--init .intro-text-container--right .intro__date {
    transform: translate3d(140px, -140px, 0) rotate(-45deg)
  }

  .intro--exit .intro-text-container--left .intro__date,
  .intro--init .intro-text-container--left .intro__date {
    transform: translate3d(-140px, 100px, 0) rotate(-45deg)
  }

  .intro__date:after,
  .intro__date:before {
    content: '';
    display: inline-block;
    position: absolute
  }

  .intro__date:before {
    width: 20px
  }

  /* .intro-text-container--right .intro__date:before {
    bottom: -14px;
    left: -31px;
    border-top: 3px solid #fff
  }

  .intro-text-container--left .intro__date:before {
    top: -14px;
    right: -31px;
    border-top: 3px solid #1a65b8
  } */

  .intro__date:after {
    width: calc(75px)
  }

  .intro-text-container--right .intro__date:after {
    bottom: -14px;
    left: -11px;
    border-top: 4px solid #a2483d;
  }

  .intro-text-container--left .intro__date:after {
    top: -14px;
    right: -11px;
    border-top: 4px solid #a2483d;
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 24px;
  overflow: auto;
}

@media (min-width: 1024px) {
  .popup {
    padding: 48px;
    overflow: auto;
  }
}

.popup ul {
  font-family: 'MyCN';
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000;
}


.popup h2 {
  font-family: 'MyCN';
  font-weight: bolder;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000;
}

.popup h3 {
  font-family: 'MyCN';
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000;
}

.popup__content {
  position: relative;
  top: 5%;
  max-width: 600px;
  min-height: 90%;
  margin: 0 auto;
  padding: 12px 40px;
  background: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .3);
  z-index: 12;
  border-radius: 20px;
}

.popup__content:first-child {
  margin-top: 0
}

.popup:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .7);
  z-index: 5;
  cursor: pointer
}

.popup-close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 20px;
  color: #fff;
  background: #2e2e2e;
  border: 0;
  opacity: .5;
  transition: all 150ms ease-in-out
}

.popup-close:focus,
.popup-close:hover {
  opacity: 1;
  transform: scale(1.1)
}

.popup-aria-hidden,
.popup-close span {
  pointer-events: none
}

.sources-logo-container {
  text-align: center;
  border-top: 1px solid #e4eaee;
  margin-top: 2em;
  padding-top: 2em
}

.sources-logo {
  display: block;
  margin: 0 auto 24px
}

@media (min-width: 1024px) {
  .sources-logo {
    display: inline-block;
    margin: 0 0 24px 40px
  }

  .sources-logo:first-child {
    margin-left: 0
  }
}

.disclosure-text {
  font-size: 13px;
  font-weight: 400;
  font-family: "Circular Book";
  color: #46505a
}